################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Amazon-Farmer/obj/Debug/net6.0
/AmazonFarmar.NotificationServices/bin
/AmazonFarmar.NotificationServices/obj/Debug
/AmazonFarmar.NotificationServices/obj/Release
/AmazonFarmer/obj
/AmazonFarmer.Administrator.API/bin/Release/net8.0
/AmazonFarmer.Administrator.API/logs/Exceptions
/AmazonFarmer.Administrator.API/obj
*.pubxml
*.user
/AmazonFarmer.Common.Services/obj/Debug/net8.0
/AmazonFarmer.Common.Services/obj/Release/net8.0
*.json
/AmazonFarmer.Core.Application/bin
/AmazonFarmer.Core.Application/obj/Debug
/AmazonFarmer.Core.Application/obj/Release
*.props
*.targets
*.cache
*/bin
*/obj
/AmazonFarmer.Core.Domain/bin
/AmazonFarmerAPI/attachments
*.jpg
*json
/AmazonFarmer.Scheduled.Payment/appsettings.json
/Amazon-Farmer/wwwroot/lib
/AmazonFarmer/wwwroot/lib
