<table style="width: 100.0%; background-color:#fff" border="0" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="padding: 18.75pt 0in 18.75pt 0in; word-break: break-word;">
                <div align="center">
                    <table style="width: 100.0%; word-break: break-word;" border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="padding: 12.85pt 12.85pt 12.85pt 12.85pt;">
                                    <p class="MsoNormal" style="text-align: center;" align="center"><span style="font-family: sans-serif;"><img id="m_1199330995108511651Picture_x0020_3" class="CToWUd" style="width: 3.125in; height: 1.0773in;" src="{{logoUrl}}" width="300" height="103" border="0" /></span> <u></u><u></u></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100.0%; padding: 0in 0in 0in 0in; word-break: break-word;" width="100%">
                <div align="center">
                    <table style="width: 427.5pt;" border="0" width="570" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="padding: 26.25pt 26.25pt 26.25pt 26.25pt;">
                                    <h1 style="margin-top: 0in;"><span style="font-size: 16.5pt; font-family: Sans-Serif; color: #333333;"><strong>Dear {{name}}!</strong><u></u><u></u></span></h1>
                                    <p style="margin-right: 0in; margin-bottom: 14.25pt; margin-left: 0in;"><span class="m_1199330995108511651gmaildefault"><span style="font-family: sans-serif; color: #666666;">{{content}}</span> <u></u><u></u></span></p>
                                    <table style="width: 100.0%;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                    </table>
                                    <p class="MsoNormal"><span style="font-family: sans-serif; display: none;"><u></u>&nbsp;<u></u></span></p>
                                    <table style="left: -6px; position: relative; width: 375.0pt; border: none; border-top: solid #eaeaec 1.0pt;" border="1" width="500" cellspacing="4" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="border: none; padding: 18.75pt .75pt .75pt .75pt; word-break: break-word;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p style="margin-right: 0in; margin-bottom: 14.25pt; margin-left: 0in;"><span class="m_1199330995108511651gmaildefault"><span style="font-size: 10.0pt; font-family: sans-serif; color: #6b6e76;"><span style="color: #6b6e76;">Didn't initiate this request? Contact us immediately at</span>&nbsp;<a href="mailto:help@engro.com" target="_blank">help@engro.com</a></span></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 0in 0in 0in 0in; word-break: break-word;">
                <div align="center">
                    <table style="width: 427.5pt;" border="0" width="570" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="padding: 26.25pt 26.25pt 26.25pt 26.25pt;">
                                    <p style="margin-right: 0in; margin-bottom: 14.25pt; margin-left: 0in; text-align: center;" align="center"><span style="font-size: 9.0pt; font-family: sans-serif; color: #6b6e76;">&copy; 2024 Engro. All rights reserved.<u></u><u></u></span></p>
                                    <p style="margin-right: 0in; margin-bottom: 14.25pt; margin-left: 0in; text-align: center;" align="center">
                                        <span style="font-size: 9.0pt; font-family: sans-serif; color: #6b6e76;">
                                            <a href="https://www.engro.com" target="_blank" data-saferedirecturl="https://www.engro.com">Website</a>&nbsp;|&nbsp;
                                            <a href="#" target="_blank">LinkedIn</a>&nbsp;|&nbsp;
                                            <a href="#" target="_blank">Twitter</a>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>