@page
@using Amazon_Farmer.Areas.Identity.Pages.Account;
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center Main-bg-red">
                <div class="card px-4 py-2 box-shadow-2 width-400">
                    <div class="card-header text-center">
                        <img src="~/img/chajaoLogo.png" alt="company-logo" class="mb-3  rounded" width="140">
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h4>@ViewData["Title"]</h4>
                            <h5>Enter your email.</h5>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Input.Email"></label>
                                            <input asp-for="Input.Email" class="form-control" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div style="text-align:right"><button type="submit" class="btn btn-primary">Submit</button></div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
