@page
@using Amazon_Farmer.Areas.Identity.Pages.Account;
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center Main-bg-red">
                <div class="card px-4 py-2 box-shadow-2 width-400">
                    <div class="card-header text-center">
                        <img src="~/img/chajaoLogo.png" alt="company-logo" class="mb-3  rounded" width="140">
                        
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h4>@ViewData["Title"]</h4>
                            <p>
                                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>